{% extends 'base.html' %}
{% load static %}
{% block title %}About Page{% endblock title %}
{% block content %}
<div class="col-sm-10 m-5">
<h2 class="text-white">About -> MINI BlOG</h2>
<p>Mini blog app is a blog posting app for users. The website where user create, post and update their blogs. You can share your blogs in the public and also see other's blogs.
It is quite helpful to share your ideas, thought and opinion for a specific purpose with others. </p>
<p>
It is gives you an easy support to interact with other's perspective about your blogs. Furthermore, you can modify
and add more information in your blogs as you need. Even if you post more and more blogs, it will grow your limitation of the knowledge.
</p>
<h4>Thank you.</h4> <br>
&nbsp <a href="{% url 'login' %}" class="btn btn-success"><b>Log In</b> </a> &nbsp
<a href="{% url 'home' %}" class="btn btn-sm btn-warning"><b>Home</b></a>
</div>

{% endblock content %}